<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="/public/style.css" type="text/css">
        <title>Biodata</title>
</head>
<body>
    <p id="user_id"></p>
    <div class="container">
        <!-- <div class="centering" style="width: 400px;"> -->
            <h1>Biodata Edit Form</h1>
            <form action="/biodata/<%= biodata.user_id %>?_method=PUT" method="POST">
                <!-- <label for="user_id">User_id</label> -->
                <input type="text" name="user_id" value="<%= biodata.user_id %>" style="display:none">
                <br>
                <label for="name">Name</label>
                <br>
                <input type="text" name="name" value="<%= biodata.name %>">
                <br>
                <label for="email">Email</label>
                <br>
                <input type="text" name="email" value="<%= biodata.email %>">
                <br>
                <br>
                <button type="submit">Submit</button>
            </form>
        <!-- </div> -->
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>