<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet"  type="text/css" href="/public/style.css">
    
        <title>Login</title>
        
</head>
<div class="container">
    
    <!-- <div class="centering"> -->
        <h1>Game History</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">User Id</th>
                <th scope="col">Date/time</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                <% game_history.forEach(i => { %>
                <tr>
                    <th scope="row"><%= i.id %></th>
                    <td><%= i.game_id %></td>
                    <td><%= i.login %></td>
                    <td><%= i.status %></td>
                    <td>
                        <form action="history/<%= i.id %>?_method=DELETE" method="POST"?_methode=DELETE>
                        <button class="btn btn-warning" type="submit">Delete</button>
                    </form>
                    </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
    <!-- </div> -->
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>