<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
        <title>Register</title>
</head>
<body>
    <div class="container-centering">
        <div class="centering">
            <h1>Register</h1>
            <form action="/users/register" method="POST">
                <label for="username">Username</label>
                <br>
                <input type="text" name="username"">
                <br>
                <label for="password">Password</label>
                <br>
                <input type="password" name="password"">
                <br>
                <br>
                <button type="submit" class="tombol">Submit</button>
            </form>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
