<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/style.css">
        <title>User Data</title>
</head>
<div class="container">
        <h1>User Management</h1>
        <table class="table">
            <thead class="text-center">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Created At</th>
                <th scope="col">Full Name</th>
                <th scope="col">Email</th>
                <th scope="col-2" colspan='4'>Action</th>
              </tr>
            </thead>
            <tbody>
                <% users.forEach(i => { %>
                <tr>
                    <th scope="row"><%= i.id %></th>
                    <td><%= i.username %></td>
                    <td><%= i.password %></td>
                    <td><%= i.createdAt %></td>
                    <td><%= i.Biodata.name %></td>
                    <td><%= i.Biodata.email %></td>
                    <td>
                        <form action="/biodata/<%= i.id %>" method="GET">
                        <button class="btn btn-warning" type="submit">Biodata</button>
                    </form>
                    </td>
                    <td>
                        <form action="/history/<%= i.id %>" method="GET">
                        <button class="btn btn-warning" type="submit">Game History</button>
                    </form>
                    </td>
                    <td>
                        <form action="/users/<%= i.id %>?_method=DELETE" method="POST">
                        <button class="btn btn-warning" type="submit">Delete</button>
                    </form>
                    </td>
                    <td>
                        <form action="/users/<%= i.id %>?_method=PUT" method="POST">
                        <button class="btn btn-warning" type="submit">Update</button>
                    </form>
                    </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>